/**
 * 列表主题样式
 *
 * @author LCTR
 * @date 2022-09-27
 */

/*文件列表*/
.independent,
.upload-list {

}

:deep(.upload-list > .scroll-container) {
    zoom: 1;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    /*border: 1px solid #ebedf0;*/
    box-sizing: border-box;
}

:deep(.independent > .item-container),
:deep(.upload-list > .item-container),
:deep(.independent > .scroll-container .item-container),
:deep(.upload-list > .scroll-container .item-container) {
    position: relative;
    width: calc(100% - 15px);
    height: 104px;
    margin: 8px;
    background: #fff;
}

:deep(.independent > .item-container .item-body),
:deep(.upload-list > .item-container .item-body),
:deep(.independent > .scroll-container .item-container .item-body),
:deep(.upload-list > .scroll-container .item-container .item-body) {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    vertical-align: middle;
    align-items: center;
    padding: 0;
    text-align: center;
    overflow: hidden;
}

:deep(.independent > .item-container .item-image),
:deep(.upload-list > .item-container .item-image),
:deep(.independent > .scroll-container .item-container .item-image),
:deep(.upload-list > .scroll-container .item-container .item-image) {
    margin-left: 10px;
}

:deep(.independent > .item-container .item-tools),
:deep(.upload-list > .item-container .item-tools),
:deep(.independent > .scroll-container .item-container .item-tools),
:deep(.upload-list > .scroll-container .item-container .item-tools) {
    z-index: 1;
    width: 104px;
    height: 80px;
    position: absolute;
    top: 0;
    right: 0;
    text-align: right;
    transition: all .3s;
}

:deep(.independent > .item-container .item-info),
:deep(.upload-list > .item-container .item-info),
:deep(.independent > .scroll-container .item-container .item-info),
:deep(.upload-list > .scroll-container .item-container .item-info) {
    width: auto;
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
}

:deep(.independent > .item-container .item-rename-input),
:deep(.upload-list > .item-container .item-rename-input),
:deep(.independent > .scroll-container .item-container .item-rename-input),
:deep(.upload-list > .scroll-container .item-container .item-rename-input) {
}

:deep(.independent > .item-container .item-loading),
:deep(.upload-list > .item-container .item-loading),
:deep(.independent > .scroll-container .item-container .item-loading),
:deep(.upload-list > .scroll-container .item-container .item-loading) {
    z-index: 2;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

:deep(.independent > .item-container .upload-icon:hover),
:deep(.upload-list > .item-container .upload-icon:hover),
:deep(.independent > .scroll-container .item-container .upload-icon:hover),
:deep(.upload-list > .scroll-container .item-container .upload-icon:hover) {
    border: 1px solid #000;
}

:deep(.independent > .item-hover.item-container),
:deep(.upload-list > .item-hover.item-container),
:deep(.independent > .scroll-container .item-hover.item-container),
:deep(.upload-list > .scroll-container .item-hover.item-container) {
    /*由上到下的渐变*/
    background: -moz-linear-gradient(top right, rgba(50, 50, 50, 1), rgba(165, 165, 165, 1));
    background: -o-linear-gradient(top right, rgba(50, 50, 50, 1), rgba(165, 165, 165, 1));
    background: -webkit-linear-gradient(top right, rgba(50, 50, 50, 1), rgba(165, 165, 165, 1));
    /*浏览器的兼容*/
    background: linear-gradient(top right, rgba(50, 50, 50, 1), rgba(165, 165, 165, 1)) repeat scroll 0 0;
}

/*动画*/
:deep(.independent > .item-container.item-paused:before),
:deep(.independent > .item-container.item-paused:after),
:deep(.upload-list > .item-container.item-paused:before),
:deep(.upload-list > .item-container.item-paused:after),
:deep(.independent > .scroll-container .item-container.item-paused:before),
:deep(.independent > .scroll-container .item-container.item-paused:after),
:deep(.upload-list > .scroll-container .item-container.item-paused:before),
:deep(.upload-list > .scroll-container .item-container.item-paused:after) {
    -webkit-animation: twinkle 3s ease-in-out forwards infinite;
    -moz-animation: twinkle 3s ease-in-out forwards infinite;
    -ms-animation: twinkle 3s ease-in-out forwards infinite;
    animation: twinkle 3s ease-in-out forwards infinite;
}

:deep(.independent > .item-container.item-error:before),
:deep(.independent > .item-container.item-error:after),
:deep(.upload-list > .item-container.item-error:before),
:deep(.upload-list > .item-container.item-error:after),
:deep(.independent > .scroll-container .item-container.item-error:before),
:deep(.independent > .scroll-container .item-container.item-error:after),
:deep(.upload-list > .scroll-container .item-container.item-error:before),
:deep(.upload-list > .scroll-container .item-container.item-error:after) {
    -webkit-animation: twinkle 3s ease-in-out forwards infinite;
    -moz-animation: twinkle 3s ease-in-out forwards infinite;
    -ms-animation: twinkle 3s ease-in-out forwards infinite;
    animation: twinkle 3s ease-in-out forwards infinite;
}

:deep(.independent > .item-container.item-dragging:before),
:deep(.independent > .item-container.item-dragging:after),
:deep(.upload-list > .item-container.item-dragging:before),
:deep(.upload-list > .item-container.item-dragging:after),
:deep(.independent > .scroll-container .item-container.item-dragging:before),
:deep(.independent > .scroll-container .item-container.item-dragging:after),
:deep(.upload-list > .scroll-container .item-container.item-dragging:before),
:deep(.upload-list > .scroll-container .item-container.item-dragging:after) {
    -webkit-animation: twinkle 3s ease-in-out forwards infinite;
    -moz-animation: twinkle 3s ease-in-out forwards infinite;
    -ms-animation: twinkle 3s ease-in-out forwards infinite;
    animation: twinkle 3s ease-in-out forwards infinite;
}

:deep(.independent > .item-container.item-drag-over:before),
:deep(.independent > .item-container.item-drag-over:after),
:deep(.upload-list > .item-container.item-drag-over:before),
:deep(.upload-list > .item-container.item-drag-over:after),
:deep(.independent > .scroll-container .item-container.item-drag-over:before),
:deep(.independent > .scroll-container .item-container.item-drag-over:after),
:deep(.upload-list > .scroll-container .item-container.item-drag-over:before),
:deep(.upload-list > .scroll-container .item-container.item-drag-over:after) {
    -webkit-animation: twinkle 3s ease-in-out forwards infinite;
    -moz-animation: twinkle 3s ease-in-out forwards infinite;
    -ms-animation: twinkle 3s ease-in-out forwards infinite;
    animation: twinkle 3s ease-in-out forwards infinite;
}

:deep(.independent > .item-container.item-ready-drag),
:deep(.upload-list > .item-container.item-ready-drag),
:deep(.independent > .scroll-container .item-container.item-ready-drag),
:deep(.upload-list > .scroll-container .item-container.item-ready-drag) {
    -webkit-animation: dargShake 1.5s ease 1,
    dargExpand 1.5s ease forwards 1;
    -moz-animation: dargShake 1.5s ease 1,
    dargExpand 1.5s ease forwards 1;
    -ms-animation: dargShake 1.5s ease 1,
    dargExpand 1.5s ease forwards 1;
    animation: dargShake 1.5s ease 1,
    dargExpand 1.5s ease forwards 1;
}

@keyframes dargShake {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(0.79, 0.8);
    }
}

@-webkit-keyframes dargShake {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    100% {
        -webkit-transform: scale(0.79, 0.8);
        transform: scale(0.79, 0.8);
    }
}

@-moz-keyframes dargShake {
    0% {
        -moz-transform: scale(1);
        transform: scale(1);
    }

    100% {
        -moz-transform: scale(0.79, 0.8);
        transform: scale(0.79, 0.8);
    }
}

@-ms-keyframes dargShake {
    0% {
        -ms-transform: scale(1);
        transform: scale(1);
    }

    100% {
        -ms-transform: scale(0.79, 0.8);
        transform: scale(0.79, 0.8);
    }
}

@keyframes twinkle {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(0.98, 0.9);
    }

    100% {
        transform: scale(1);
    }
}

@-webkit-keyframes twinkle {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(0.98, 0.9);
        transform: scale(0.98, 0.9);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-moz-keyframes twinkle {
    0% {
        -moz-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -moz-transform: scale(0.98, 0.9);
        transform: scale(0.98, 0.9);
    }

    100% {
        -moz-transform: scale(1);
        transform: scale(1);
    }
}

@-ms-keyframes twinkle {
    0% {
        -ms-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -ms-transform: scale(0.98, 0.9);
        transform: scale(0.98, 0.9);
    }

    100% {
        -ms-transform: scale(1);
        transform: scale(1);
    }
}